/*---------------DATA TABLE----------------------*/
.dataTables_wrapper span a {
    background: #6878e1;
    min-width: 1em !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    padding: 0 !important;
    background: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 5px;
    border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .first:hover {
    background: #263544 !important;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .previous,
.dataTables_wrapper .dataTables_paginate .first,
.dataTables_wrapper .dataTables_paginate .next,
.dataTables_wrapper .dataTables_paginate .last {
    padding: 0 10px !important;
    height: 30px;
    line-height: 30px !important;
    box-shadow: 0 0 3px rgba(192, 192, 192, 0.9), inset 0px 1px 1px rgba(255, 255, 255, 0.5),
        inset 0 0px 0 rgba(167, 164, 164, 0.1) !important;
    margin: 8px !important;
}

.dataTables_length label select {
    padding: 0 5px !important;
    font-size: 13px !important;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_filter {
    font-weight: bold; 
}

.dataTables_wrapper .dataTables_filter input {
    width: 400px;
    padding: 3px 10px !important;
    margin-left: 10px !important; 
    border: 1px solid rgba(14, 107, 161, 0.86);
    background: #FFFFFF;
}

.dataTables_wrapper .dataTables_filter input:focus {
    box-shadow: 0 !important;
    outline: 0 !important;
}

.dataTables_wrapper .dataTables_length {
    font-weight: bold;
    /* display: none; */
}

.dataTables_wrapper .dataTables_info {
    font-weight: bold;
}

.dataTables_wrapper .dataTables_paginate {
    float: none !important;
    text-align: center !important;
    padding-top: 0.25em;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 10px !important;
}
.dataTables_wrapper {
    max-height: 550px !important;
    overflow: auto;
}
table.dataTable.no-footer {
    border-bottom: 2px solid rgb(13, 192, 94) !important;
}