* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../images/16668.jpg) no-repeat;
   background-size: cover;
    height: 100vh;
    /* background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: fixed linear-gradient(to right bottom, #c850c0, #4158d0); */
    /* background: fixed linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #6633CC, #32b37b);*/ 
    font-family: 'Varela Round', sans-serif;
 
}
input {
    border: none;
    outline: none;
    border-radius: 20px;
}
.wraper {
    width: 400px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -60%);
}
.wraper .title {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}
.wraper .title h1 {
    display: inline-block;
    font-weight: 600;
}
.wraper .title p {
    font-size: 12px;
    font-weight: 100;
    margin-top: 10px;
    letter-spacing: 0.5px;
}
.wraper .form-top {
    display: flex;
    justify-content: space-between;
    background: #151935;
    border-radius: 10px 10px 0 0;
    padding: 20px 30px 0;
    
}
.wraper .form-top .left {
    width: 80%;
}
.wraper .form-top .right {
    width: calc(100% - 80%);
}
.wraper .form-top .right img {
    width: 100%;
    margin: -5px 0 5px 0;
}
.form-top .left p {
    margin: 10px 0;
    font-size: 11px;
    line-height: 1.8;
    color: rgb(255, 255, 255);
}
.form-top .left h3 {
    font-size: 18px;
    color: #fff;
}
.wraper .form-bottom {
    padding: 10px 30px 20px;
    border-top: 2px solid #fff;
    background-color: #151935;
    border-radius: 0 0 10px 10px;
    text-align: center;
}
.wraper .input-box  {
    position: relative;
}
.wraper .input-box input {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    margin-top: 35px;
}
.wraper .input-box > label {
    position: absolute;
    top:33px;
    left: 20px;
    padding: 10px 0;
    color: rgb(92, 78, 78);
    transition: .5s;
    pointer-events: none;
    word-spacing: 2px;
}
.wraper .input-box  input:focus ~ label, 
.wraper .input-box  input:valid ~ label 
{
    top: -5px;
    left: 0;
    color: redellow;
    font-size: 18px;
    font-weight: 600;
    color:#fff;
}
.wraper input[type="submit"]
{
    background: rgb(7, 189, 107);
    width: 100%;
    padding: 10px 0;
    margin: 20px 0 10px 0;
    color: #fff;
}
.wraper input:hover[type="submit"], .wraper .form-bottom a:hover
{
    background: rgb(5, 161, 57);
}
.wraper .form-bottom a, .wraper .form-bottom .buttonX {
    text-decoration: none;
    font-size: 15px;
    display: block;
    color: #fff;   
    padding: 5px;
    background-color: tomato;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
}
